<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js"></script>
<script src="settings.js"></script>
<script src="encoding-indexes.js"></script>
<script src="encoding.js"></script>
<script type="text/html" id="ch-template">
<div>
	<%= (new Date(start)).toLocaleTimeString() %>
	〜
	<%= (new Date(end)).toLocaleTimeString() %>
	<div>
	<%= id %>
	</div>
	<div>
	<%= title %>
	</div>
</div>
</script>
<script type="text/html" id="program-template">
<div>
	<div class="time">
	<%= (new Date(start)).toLocaleDateString() %>
	<%= (new Date(start)).toLocaleTimeString() %>
	〜
	<%= (new Date(end)).toLocaleTimeString() %>
	</div>
	<div>
	<span class="category"><%= category %></span>
	/
	<span class="ch-type"><%= channel.type %></span>
	:
	<span class="ch-name"><%= channel.name %></span>
	</div>
	<div class="id">
	<%= id %>
	</div>
	<div class="title">
	<%= title %>
	</div>
	<div class="detail">
	<%= detail %>
	</div>
	<div class="fullTitle">
	<%= fullTitle %>
	</div>
</div>
</script>
<script>
var client = new Paho.MQTT.Client(mqtt.wshost,mqtt.wsport,"clientId");
var gMessage = new Uint8Array(0);
var gGetAPICallback;
var gGetAPIInuse = false;

client.onMessageArrived = function(message){
    var dataview = new DataView(new ArrayBuffer(message.payloadBytes.byteLength));
    for(var i=0;i<message.payloadBytes.byteLength;i++){
	    dataview.setUint8(i,message.payloadBytes[i]);
    }
	    
	//console.log(message.destinationName);
	try{
		var seq = dataview.getInt32(0,false);
		console.log(seq);
		if(seq == -1){
			console.log(gMessage);
			var td = new TextDecoder("utf-8");
			var jstxt = td.decode(gMessage);
			jstxt = jstxt.replace(/\0/g,"");
			var j = JSON.parse(jstxt);
			gGetAPIInuse = false;
			$("#nowloading").hide();
			gGetAPICallback(j);



		} else if(seq === 0){
			gMessage = new Uint8Array((seq+1) * (10240-4));
			gMessage.set((new Uint8Array(dataview.buffer)).subarray(4));
			console.log(gMessage,(new Uint8Array(dataview.buffer)).subarray(4));
		} else if((seq+1) * (10240-4) > gMessage.byteLength){
			var tmp = new Uint8Array((seq+1) * (10240-4));
			tmp.set(gMessage,0);
			tmp.set((new Uint8Array(dataview.buffer)).subarray(4),seq * (10240-4));
			gMessage = tmp;
		} else {
			console.log("else",seq);
			gMessage.set((new Uint8Array(dataview.buffer)).subarray(4),seq * (10240-4));
		}
		
	} catch (e){
		console.log(e);
	}
};
client.connect({onSuccess: function(){
	//client.subscribe(mqtt.mqtttopic+"/res/#");
	Backbone.history.start();
},
userName : mqtt.mqttusername,
password: mqtt.mqttpassword
});
var Router = Backbone.Router.extend({
	routes: {
		"channel/:id": "channel",
		"program/:id": "program",
		"*path": "defaultRoute"
	},
	channel: function(id){
		console.log(id);
		if(schedules){
		var model = schedules.where({id:id})[0];
		var schedulesView = new SchedulesView({model:model});
		$("body").html("");
		$("body").append(schedulesView.render().el);
		}
	},
	program: function(id){
		getApi({method:"get", path:"program/"+id},function(j){
			console.log(j)
			var view = new ProgramView({model:j});
			$("body").html("");
			$("body").append(view.render().el);
			});
	},
	defaultRoute: function(){
		initGet();
	}
});
var router = new Router();
var Schedules = Backbone.Collection.extend({
});
var schedules;
var SchedulesView = Backbone.View.extend({
	render:function(){
		var e = this.model;
		var that = this;
		this.$el.append($("<b>").text(e.get("name")).attr("id",e.get("id")).addClass("channel-name")
				.click(function(ev){
					router.navigate("channel/"+e.get("id"),true);
					ev.preventDefault();
				}));
		var template = _.template($("#ch-template").html());
		var lastStart = 0;
		_.each(e.get("programs"),function(e2,i){
			if(lastStart == 0 || ((new Date(lastStart)).getDate() != (new Date(e2.start)).getDate())){
				console.log(e2.start);
				that.$el.append($("<div>").text((new Date(e2.start)).toLocaleDateString()).addClass("date"));
				lastStart = e2.start;
			}
			that.$el.append($(template(e2)).click(function(ev){
					router.navigate("program/"+e2.id,true);
					ev.preventDefault();
			}));
		});
		return this;
	}
});
var ProgramView = Backbone.View.extend({
	render:function(){
		var e = this.model;
		var template = _.template($("#program-template").html());
		this.$el.append(template(e));
		return this;
	}
})
function initGet(){
	var cb = function(json){
		$("body").html("");
		sessionStorage.schedules = JSON.stringify(json);
		schedules = new Schedules(json);
		var schedules_tmp = new Schedules(json);
		schedules_tmp.each(function(e,i){
			console.log(e.get("programs"),i);
			e.set({programs: e.get("programs").slice(0,10)});
			var schedulesView = new SchedulesView({model:e});
			$("body").append(schedulesView.render().el);
		});
	};
	if(sessionStorage.schedules){
		var json = JSON.parse(sessionStorage.schedules);
		cb(json);
		return;
	}
getApi({method:"get",path:"schedule"},cb);
}
function getApi(req,callback){
	if(gGetAPIInuse){
		return;
	}
	gGetAPICallback = true;
	gGetAPICallback = callback;
	var mess = new Paho.MQTT.Message(JSON.stringify(req));
	var sessionid = Math.floor(Math.random*1000000);
	mess.destinationName = mqtt.mqtttopic+"/req/"+sessionid;
	client.subscribe(mqtt.mqtttopic+"/res/"+sessionid);
	client.send(mess);
}
</script>
<style>
#nowloading{
	opacity:0.5;
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	font-size:100px;
}
.channel-name{
	color:#00f;
	text-decoration: underline;
}
.date{
	border-bottom: solid 10px #aaa;
}
</style>
<body>
	<div id="nowloading">now loading...</div>
</body>
